.account-header {
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  padding: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid rgb(124, 120, 120); /* subtle white line */
}


/* User logo styling */
.account-header-logo{
  width: 70px;
  height: 70px;
}


.welcome-message {
  font-size: 1.2rem;
  /* background: linear-gradient(135deg, #ff6b6b 0%, #4ecdc4 50%, #45b7d1 100%); */
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0.5rem 0 0 0;
  font-style: italic;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  animation: fadeInGlow 2s ease-in-out;
  /* letter-spacing: 0.5px; */
  font-family: 'Quicksand', sans-serif;
}
