.account-navbar button {
  background-color: #f5f0f0;
  color: #222; 
  border: 2px solid transparent;
  border-radius: 8px;
  /* padding: 10px 20px; */
  /* font-size: 1rem; */
  cursor: pointer;
  transition: all 0.35s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  font-weight: 500;
  font-family: 'Lucida Console', Monaco, monospace;
}

.account-navbar button:hover {
  border-color: #84cae3;
}

/* Active Link */
.account-navbar .account-navbar-active-link {
  background-color: #8dd4e3;       /* darker green */
  color: white;
  font-weight: bold;
  border-color: #84cae3;    /* matching dark border */
  box-shadow: 0 0 10px rgba(115, 210, 231, 0.6); /* soft green glow */
  transform: scale(1.05);
}

.account-navbar {
  display: flex;
  flex-direction: column; /* stack vertically */
  gap: 1rem; /* spacing between buttons */
  width: 280px; /* optional fixed width */
  padding: 1rem;
  background-color: #f5f5f5; /* optional background */
  margin-left: 8rem;
}