.image-uploader {
  margin-top: 20px;
}

.image-preview img {
  max-width: 300px;
}

.uploaded-images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.uploaded-images img {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}