.footer {
  color: #9c9b9b;                  /* Light text */
  padding: 20px 0;              /* Vertical padding */
  text-align: center;           /* Center the text */
  bottom: 0;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}