.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem; /* spacing between arrows and image */
  width: 100%;
}

.image-slider {
  width: 100%;
  max-width: 60%;
  aspect-ratio: 1 / 1;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  background-color: #f0f0f0;
  display: block;
  width: 100%;        /* fill the width */
  height: auto;       /* keep aspect ratio */
}

.arrow {
  background-color: rgba(0, 0, 0, 0.211);
  border: none;
  color: white;
  font-size: 12px;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  transition: background-color 0.3s ease;
  margin: 0; /* reset any margin */
  display: flex;
  align-items: center;      /* center the arrow content vertically */
  justify-content: center;  /* center the arrow content horizontally */
} 