.nav-bar-container {
  display: flex;
  justify-content: center; /* center all buttons */
  gap: 20px; /* space between buttons */
  align-items: center;           /* vertically center buttons */
  padding: 0 15px;               /* horizontal padding */
  height: 60px;                  /* set a height if you want */
  box-sizing: border-box;
}

nav button {
  background-color: #f5f0f0;
  color: rgb(7, 8, 7);
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.35s ease;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  font-weight: 500;
  font-family: 'Lucida Console', Monaco, monospace;
}

nav button:hover {
  border: 2px solid rgb(38, 133, 90); /* nice green border */
}

/* Active Link */
.active-link {
  background-color: rgb(38, 133, 90);;       /* darker green */
  color: white;
  font-weight: bold;
  border-color: #377b4d;           /* matching dark border */
  /* box-shadow: 0 0 10px rgba(38, 133, 90); soft green glow */
  transform: scale(1.05);
}