.profile-layout {
  display: flex;
  align-items: flex-start;
}

/* Right: Main content */
.profile-card {
  flex: 1;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(101, 101, 101);
  margin-right: 3rem;
  /* center the child */
  display: flex;
  justify-content: center; /* horizontally */
  padding: 2rem;
}
